@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/itc-korinna-std");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "itc-korinna-std";
  src: url("../public/fonts/ITC-Korinna-Bold.otf");
}
@font-face {
  font-family: "itc_korinna";
  src: url("../public/fonts/ITC-Korinna-LT-Bold.otf");
}
@font-face {
  font-family: "korinna";
  src: url("../public/fonts/ITC-Korinna-LT-Regular.otf");
}
@font-face {
  font-family: "itc-korinna";
  src: url("../public/fonts/ITC-Korinna-Regular.otf");
}
@font-face {
  font-family: "itc-korinna-lt1";
  src: url("../public/fonts/ITC-Korinna-Std-Bold.otf");
}
@font-face {
  font-family: "itc-korinna-lt2";
  src: url("../public/fonts/ITC-Korinna-Std-Heavy.otf");
}
@font-face {
  font-family: "itc-korinna-lt3";
  src: url("../public/fonts/ITC-Korinna-Std-Kursiv.otf");
}
@font-face {
  font-family: "swiss-911-compressed";
  src: url("../public/fonts/Swiss-911-Compressed-Regular.otf");
}

.title {
  @apply font-itc-korinna-std
  xl:text-[60px]
  lg:text-[50px]
  md:text-[40px]
  sm:text-[30px]
  xs:text-[18px]
  2xs:text-[16px]
  3xs:text-[13px];
  color: #fab85b;
}
.subtitle {
  @apply font-itc-korinna-std
  xl:text-[30px]
  lg:text-[25px]
  md:text-[20px]
  sm:text-[15px]
  xs:text-[12px]
  2xs:text-[10px]
  3xs:text-[9px];
  color: #fab85b;
}

.clueValue {
  @apply font-itc-korinna-std
  xl:text-[65px]
  lg:text-[50px]
  md:text-[38px]
  sm:text-[31px]
  xs:text-[24px]
  2xs:text-[20px]
  3xs:text-[15px];
  font-weight: 900;
  color: #fab85b;
  text-shadow: 3px 3px #000;
  letter-spacing: -2px;
  font-weight: 700;
}

.missing-clue {
  @apply xl:text-[90px]
  lg:text-[75px]
  md:text-[55px]
  sm:text-[45px]
  xs:text-[35px]
  2xs:text-[30px]
  3xs:text-[20px];
}

.clue-text {
  @apply font-itc-korinna-std
  leading-none
  xl:text-[60px]
  lg:text-[50px]
  md:text-[38px]
  sm:text-[31px]
  xs:text-[24px]
  2xs:text-[20px]
  3xs:text-[15px];
}
.clue-answer {
  @apply font-itc-korinna-std
  leading-none
  xl:text-[30px]
  lg:text-[25px]
  md:text-[20px]
  sm:text-[16px]
  xs:text-[15px]
  2xs:text-[14px]
  3xs:text-[10px];
}

.gameBoard {
  width: 904px;
  height: 520px;
}

.cell {
  /* 7x4 aspect ratio */
  @apply p-0 m-0
  bg-blue-800

  xl:w-[207px]
  lg:w-[164px]
  md:w-[121.5px]
  sm:w-[100px]
  xs:w-[76px]
  2xs:w-[63.4px]
  3xs:w-[52px]
  /* overflow-clip */
  ;
  aspect-ratio: 7/4;
}

.radio {
  @apply
  xl:text-[25px]
  xl:my-4
  md:text-[20px]
  md:my-3
  xs:text-[14px]
  xs:my-2
  3xs:text-[10px]
  3xs:my-1
  ;
}


.progress {
  height: 100%;
  width: 100000px;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.5) 10px,
    rgba(255, 255, 255, 0.5) 20px
  );

  animation: animateBG 500s linear infinite;
}

@keyframes animateBG {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-10000px);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
